<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin" >
				<resource id="Etailors_Base::MenuItem">
					<resource id="Etailors_Forms::Forms_Config" title="e-tailors Forms Configuration" sortOrder="210" />
				</resource>
            </resource>
        </resources>
    </acl>
</config>